<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>

<mdb-carousel [indicators]="true">
    <mdb-carousel-item>
      <img
        src="https://mdbcdn.b-cdn.net/img/new/slides/041.webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://mdbcdn.b-cdn.net/img/new/slides/042.webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img
        src="https://mdbcdn.b-cdn.net/img/new/slides/043.webp"
        class="d-block w-100"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </mdb-carousel-item>
</mdb-carousel>
<div class="componetQS">
  <img
  src="https://mdbootstrap.com/img/new/standard/city/047.webp"
  width="321" 
  height="218"
  class="img-fluid rounded"
  alt=""
  />
  <p class="fontsize_subTitle">QUIENES SOMOS</p>
  <hr class = "lineQS"/>
  <pre class="fontsize_text">Somos una corporación jurídica dedicada al asesoramiento y  consultoría
  en el campo del derecho: Asuntos judiciales, académicos e investigación.
  </pre>
</div>
<div style="margin-left: 5%; margin-right: 5%;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border border-light shadow-0 mb-3">
        <div class = "centerImage">
          <img
          src="https://mdbootstrap.com/img/new/standard/city/047.webp"
          width="251" 
          height="236"
          class="img-fluid rounded"
          alt=""
          />
        </div>   
        <p class="fontsize_subTitle">MISION</p>
        <hr class = "lineM"/>
        <p class="fontcard">Somos estudio jurídico reconocido </p>
        <p class="fontcard">por su prestigio y alta calidad </p>
        <p class="fontcard">en la asistencia legal basado </p>
        <p class="fontcard">en la profesionalidad de sus miembros,  </p>
        <p class="fontcard">brindando confianza a través  </p>
        <p class="fontcard">de soluciones acordes a las necesidades    </p>
        <p class="fontcard">de cada cliente.  </p>
      </div>
    </div>
    <div class="col">
      <br>
      <div class="card border border-light shadow-0 mb-3">
        <div class = "centerImage">
          <img
          src="https://mdbootstrap.com/img/new/standard/city/047.webp"
          width="251" 
          height="236"
          class="img-fluid rounded"
          alt=""
          />
        </div>   
        <p class="fontsize_subTitle">VALORES</p>
        <hr class = "lineM"/>
        <p class="fontcard">Somos estudio jurídico reconocido </p>
        <p class="fontcard">por su Responsabilidad, Profesionalismo, </p>
        <p class="fontcard">Solidaridad, Confiabilidad, Honestidad, </p>
        <p class="fontcard">Compromiso y Respeto.  </p>
      </div>
    </div>
    <div class="col">
      <div class="card border border-light shadow-0 mb-3">
        <div class = "centerImage">
          <img
          src="https://mdbootstrap.com/img/new/standard/city/047.webp"
          width="251" 
          height="236"
          class="img-fluid rounded"
          alt=""
          />
        </div>   
        <p class="fontsize_subTitle">VISION</p>
        <hr class = "lineM"/>
        <p class="fontcard">Ser un estudio jurídico líder  </p>
        <p class="fontcard">en la prestación  de servicios legales, </p>
        <p class="fontcard">reconocidos por ofrecer asesoría</p>
        <p class="fontcard">legal de calidad, con resultados</p>
        <p class="fontcard">eficientes  y oportunos </p>
        <p class="fontcard">en base a valores y</p>
        <p class="fontcard">principios fundamentales.</p>
      </div>
    </div>
  </div>
</div>
<br>
<!-- Tipos de procesos -->
<br>
<p class="fontsize_subTitle" style="margin-top: 25px;">TIPOS DE PROCESOS</p>
<hr class = "lineQS" style="margin-bottom: 50px; margin-top: 15px;">
<div style="margin-left: 5%; margin-right: 5%;">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 25rem; height: 25rem;">
        <div class="centerImage" style="margin-top: 15px;">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/047.webp"
            width="142" 
            height="142"
            class="img-fluid rounded"
            alt=""
            />
        </div>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Pago de remuneraciones homologadas con la de los magistrados conforme dispone el Art. 96 de la Ley Nro. 30220</p>
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary btn-sm" type="button" style="background-color: #276678; margin-left:5px; margin-bottom: 5px;">Leer mas -></button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 25rem; height: 25rem;">
        <div class="centerImage" style="margin-top: 15px;">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/047.webp"
            width="142" 
            height="142"
            class="img-fluid rounded"
            alt=""
            />
        </div>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Pago de devengados, de los incrementos dispuestos por los D.U. 90-96, 073-97 y 011-99</p>
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary btn-sm" type="button" style="background-color: #276678; margin-left:5px; margin-bottom: 5px;">Leer mas -></button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card bg-light mb-3" style="max-width: 25rem; height: 25rem;">
        <div class="centerImage" style="margin-top: 15px;">
          <img
            src="https://mdbootstrap.com/img/new/standard/city/047.webp"
            width="142" 
            height="142"
            class="img-fluid rounded"
            alt=""
            />
        </div>
        <div class="card-body">
          <p class="card-text" style="text-align: center;">Bonificacion diferencial.</p>
        </div>
        <div class="d-grid gap-2 d-md-block">
          <button class="btn btn-primary btn-sm" type="button" style="background-color: #276678; margin-left:5px; margin-bottom: 5px;">Leer mas -></button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!-- areas de especialidad -->
<br>
<p class="fontsize_subTitle" style="margin-top: 25px;">ÁREAS DE ESPECIALIDAD</p>
<hr class = "lineQS" style="margin-bottom: 50px; margin-top: 15px;">
<div style="margin-left: 5%; margin-right: 5%;">
  <table class="table table-bordered" FRAME="void" RULES="cols" style="margin-bottom: 0px;">
    <thead>
      <tr>
        <th scope="row">
          <div class="centerImage" style="margin-top: 15px;">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/047.webp"
              width="69" 
              height="69"
              class="img-fluid rounded"
              alt=""
              />
          </div>
          <p class="fontcard" style="text-align: center; margin-bottom: 0px;">Contencioso</p>
          <p class="fontcard" style="text-align: center; margin-top: 0px;">administrativo</p>
        </th>
        <th scope="row">
          <div class="centerImage" style="margin-top: 15px;">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/047.webp"
              width="69" 
              height="69"
              class="img-fluid rounded"
              alt=""
              />
          </div>
          <p class="fontcard" style="text-align: center; margin-bottom: 0px;">Laboral</p>
          <br>
        </th>
        <th scope="row">
          <div class="centerImage" style="margin-top: 15px;">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/047.webp"
              width="69" 
              height="69"
              class="img-fluid rounded"
              alt=""
              />
          </div>
          <p class="fontcard" style="text-align: center; margin-bottom: 0px;">Civil</p>
          <br>
        </th>
        <th scope="row">
          <div class="centerImage" style="margin-top: 15px;">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/047.webp"
              width="69" 
              height="69"
              class="img-fluid rounded"
              alt=""
              />
          </div>
          <p class="fontcard" style="text-align: center; margin-bottom: 0px;">Familia</p>
          <br>
        </th>
      </tr>
    </thead>
  </table>
  <hr style="margin-bottom: 0px; margin-top: 0px;">
  <table class="table table-bordered" FRAME="void" RULES="cols">
    <thead>
      <tr>
        <th scope="row">
          <div class="centerImage" style="margin-top: 15px;">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/047.webp"
              width="69" 
              height="69"
              class="img-fluid rounded"
              alt=""
              />
          </div>
          <p class="fontcard" style="text-align: center; margin-bottom: 0px;">Contencioso</p>
          <p class="fontcard" style="text-align: center; margin-top: 0px;">administrativo</p>
        </th>
        <th scope="row">
          <div class="centerImage" style="margin-top: 15px;">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/047.webp"
              width="69" 
              height="69"
              class="img-fluid rounded"
              alt=""
              />
          </div>
          <p class="fontcard" style="text-align: center; margin-bottom: 0px;">Laboral</p>
          <br>
        </th>
        <th scope="row">
          <div class="centerImage" style="margin-top: 15px;">
            <img
              src="https://mdbootstrap.com/img/new/standard/city/047.webp"
              width="69" 
              height="69"
              class="img-fluid rounded"
              alt=""
              />
          </div>
          <p class="fontcard" style="text-align: center; margin-bottom: 0px;">Civil</p>
          <br>
        </th>
      </tr>
    </thead>
  </table>
</div>




